<p>Welcome to Bank Massad</p>

<a href="https://www.bankmassad.co.il/private/">
    <img src="/assets/images/bankMassad.jpeg" />
</a>

<p>Opening hours:</p>
<p>Monday - Thursday: 9:00 - 17:00</p>
<p>Friday: 9:00 - 13:00</p>
<p>Saturday - Sunday: Closed</p>

<p>Bank Massad is a bank that offers a wide range of services to its customers.</p>
<p>We offer a variety of accounts, loans, and credit cards. We also provide investment services and financial planning.
</p>
<p>Our goal is to help our customers achieve their financial goals and secure their financial future.</p>